@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sevillana&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.Hero{
    width: 100%;
    
   
}
.artWork{
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 10px 0px;
position: relative;
overflow: hidden;
}

.arc{
    width: 500px;
    height: 500px;
    background-color: #22ff26;
    border-radius: 50%;
    position: absolute;
  
    left: 60%;
   


}
.artWork img{
    
    position: absolute;
    
    left: 67%;
}

.artWork .content{
    width: 50%;
    margin: 5% 2rem;
}

.artWork h1{
    font-size: 70px;
    font-weight: 700;
    color:  #f09d38;   
    font-family: 'Roboto', sans-serif;
    line-height: 1em;
}

.artWork p{
    font-family: 'Courier New', Courier, monospace;
   
}

.artWork .BT2{
    margin-top: 1em;
    font-size: 16px;
    padding: 0.3em 2em ;
}

.log img{
    width: 300px;
    height: 300px;
   
}
.log{
    position: relative;
    background-color: white;
    padding: 2em 3em;
}

.log .wave{
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
font-size: 100px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
display: flex;
}

.log h4{
    position: absolute;
    top: 55%;
    left: 52%;
    transform: translate(-50%,-50%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.wave span {
    display: inline-block;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 120;
    font-style: normal;
    animation: wave 1.5s infinite;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
}

.wave span:nth-child(1) {
    animation-delay: 0s;
}
.wave span:nth-child(2) {
    animation-delay: 0.1s;
}
.wave span:nth-child(3) {
    animation-delay: 0.2s;
}
.wave span:nth-child(4) {
    animation-delay: 0.3s;
}
.wave span:nth-child(5) {
    animation-delay: 0.4s;
}
.contentMission{
    width: 60%;
    margin: 5% 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.contentMission h1{
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 0.5em;
}

.contentMission p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    width: 70%;

}


.mission{
    margin-top: 1em;
    display: flex;
    background-color: white;
    width: 100%;
    position: relative;

 
}

.arcs{
    width: 500px;
    height: 350px;
    background-color: #cfff22;
    border-radius:0 50% 0 0;
    position: absolute;
    bottom: 0px;
    left: 0%;
    
}
.arcs1 {
    width: 300px;
    height: 300px;
    background-color: #22ff26;
    border-radius: 0 50%;
    position: absolute;
    bottom: 0px;
    left: 30%;
    animation: rotate 5s linear infinite; /* Apply rotation animation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.team{
    background-color: white;
    width: 100%;
    margin-top: 1em;
    position: relative;
   
}

.team h1{
    font-family: "Montserrat", sans-serif;
    z-index: 1;
}
.team p{
    font-family: "Montserrat", sans-serif;
    z-index: 1;
}
.team img{
    object-fit: cover;
}

.footer{
    width: 100%;
    background-color: #333;
    z-index: 1;
}

.socilIcon img{
width: 40px;
height: 40px;
}

.teamCard{
    width: 60%;
    z-index: 1;
}

.team .arcs{
    width: 670px;
    height: 550px;
    background-color: #cfff22;
    border-radius:0 50% 0 0;
    position: absolute;
    top:  0px;
    left: 60%;
    transform: rotate(180deg); /* Rotate the element by 45 degrees */
}

.team .card{
    z-index: 1;
    margin:  1em 2em;
    background-color: #ffffff;
    padding: 0.5em 2em;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);    
    border-radius: 0em 1.5em 0em 0em;
    outline:0.2px solid #cfff22;

}

.team .container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.team .card img {
    object-position: top;
    object-fit: cover;
}
.about {
    margin-top: 1em;
    display: flex;
    background-color: white;
    width: 100%;
    position: relative;
    justify-content: center;
}

.about .contentMission p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    width: 100%;

}

.about .arcs{
    width: 670px;
    height: 550px;
    background-color: #cfff22;
    border-radius:0 50% 0 0;
    position: absolute;
    top:  0px;
    left: 60%;
    transform: rotate(180deg); /* Rotate the element by 45 degrees */
}


