
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');





*{
    margin: 0px;
    padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: auto;
  
    
}

body{
   background-color: #e5e5e5;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
   
    font-size: 13pt;
  
    font-weight: 300;
    line-height: 2.25em;
}





/* General Navigation Styles */
nav{
    background-color: #344a75;
   display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

  }


  .logo{
   
    padding-right: 50px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    line-height: 80px;
    margin: 0 5px;
   
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }


  .do a{
    background-color: yellow;
    transition: .5s;
    color: #000;
  }
  a.active,a:hover{
    background-color: rgb(255, 98, 0);
    transition: .5s;
    color: #000;
    
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    
  }

  @media (max-width: 858px){
    .checkbtn{
      display: block;
     
    }
    .DoHero,.tab{
        z-index: -1;
        
    }
    
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0080ff;
      top:0px;
      left: -1000%;
      text-align: center;
      transition: all .5s;
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      gap: 0rem;
      line-height: 0px;
      margin: 0px;
      padding: 0px;
      z-index: 1000;
    }
   
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #818181;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }



  .logo .log img{
    width: 120px;
    height: 90px;
   
}
.logo .log{
    position: relative;
    background-color: white;
    padding: 0.2em 0.3em;
}

 .logo .log .wave{
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
font-size: 30px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
display: flex;
}

.logo .log h4{
    position: absolute;
    top: 55%;
    left: 52%;
    font-size: 6px;
    transform: translate(-50%,-50%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}


.logo .wave span {
    display: inline-block;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: wave 1.5s infinite;
}

.logo .wave span:nth-child(1) {
    animation-delay: 0s;
}
.logo .wave span:nth-child(2) {
    animation-delay: 0.1s;
}
.logo .wave span:nth-child(3) {
    animation-delay: 0.2s;
}
.logo .wave span:nth-child(4) {
    animation-delay: 0.3s;
}
.logo .wave span:nth-child(5) {
    animation-delay: 0.4s;
}


@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
}



.art2 img{
    object-fit: cover;
}

.hero{
    display: flex;
    justify-content: center;
}
.herobanner{
    
    background: url("../Assets/IMG_0655_edited.jpg") no-repeat;
    background-size: cover;
   
    box-shadow: #0000000d 0px 3px 0px 0px;
    width: 100%;
   
   
    
}

.herobanner section{
    height: inherit;
    background-color: hsla(0, 0%, 0%, 0.187);
   
    display: flex;
    width: inherit;
    height: inherit;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 180px;
    padding-top: 180px; ;
   justify-content: space-evenly;
   gap: 5rem;

  
   
   
}
.herobanner section h1{
   
   
    flex-shrink: 0;
    color: #FFF;
    font-feature-settings: 'dlig' on;
    font-family: "Noto Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 92% */
    letter-spacing: 0.24px;
   
    
    
}
.heroTxt{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.HeroBT {
   
    display: flex ;
   gap: 1rem;
   
   flex-direction: column-reverse;
  
}
.HeroBT .BT1{
    background-color:#F2890D;
    border-radius:6px;
    color: #fff;
    display:inline-block;
    border: none;
    font-family:Open Sans;
    font-size:33px; font-weight: 800;
    line-height: 33px;
   
    padding:26.4px 29.7px;
    text-align:left;
}

 .BT2{
    background-color: yellow;
    border-radius:6px;
    
    display:inline-block;
    border: none;
    font-family:Open Sans;
    font-size:33px; font-weight: 800;
    line-height: 33px;
   
    padding:26.4px 29.7px;
    text-align:left;
    
}
.BT1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.BT2 a{
    color: black;
    text-decoration: none;
}
.herobanner section p{
    width: 752px;
   
    flex-shrink: 0;    
color: #FFF;
font-feature-settings: 'dlig' on;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 116.667% */



}








.maintitle{
   width: 100%;
    margin-top:1rem;
   color: #313131;
}

.maintitle h1{
    font-weight: 700;
}



.box {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 2em;
}

    .box.feature {
        padding: 0;
    }

        .box.feature .inner {
            width: 302px;
        }

        .box.feature h2 {
            font-size: 1.35em;
            padding: 0px 5px;
            color: #313131;
        }

        .box  p {
            margin: 0;
            line-height: 24px;
            font-size: small;
            padding: 0px 5px;
            color: #696969;
           
        }

        .box.feature .image {
            position: relative;
            margin: 0;
            
           
           

          
        }

       
            .box.feature .image img {
                border-radius:8px 8px 0px 0px;
                width: 302px;
                height: 240px;
                object-fit: cover;
            }



.mainpics{
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap:12px;
  width: auto;
  justify-content: space-evenly;
 
    

   
}
.mainpics h4{
    font-weight: lighter;
    padding-left: 5px;
    margin-top: 10px;
}


.loc{
    color: red;
   font-size: 45px;
    flex-shrink: 0;
}
.gro{
    color: #0D24F2;
    font-size: 45px;
    flex-shrink: 0;


}

.event{
    display: flex;
    flex-direction: column;
    width: 960px;
    gap: 1rem;
    padding: 16px;
    align-items: flex-start;
    flex-shrink: 0;
}

.major h2{
    color:
#3d4449;
display:
inline-block;
font-family:Arial, Helvetica, sans-serif;
font-size:
30.3333px;
font-weight:
700;
line-height:
35px;
padding-left:45px ;
}

.posts{
    display: flex;
    flex-wrap: wrap;
 
  justify-content: center;

    
}

.art1, .art3 ,.art5{
    border-right:0.1px solid rgb(99, 99, 99);
  
}

 .art6 , .art2 , .art4{
    border-left: 0.1px solid rgb(99, 99, 99);

}
.art3, .art4  {
    border-bottom: 0.1px solid rgb(99, 99, 99);
}

.art3, .art4 ,.art6,.art5{
    border-top: 0.1px solid rgb(99, 99, 99);

}

.actions .button{
    background-color:
#f56a6a00;
border-radius:
4px;
box-shadow:
#fbb35b 0px 0px 0px 2px;
color:#fbb35b ;
display:inline-block;

font-size:
10.6667px;
font-weight:
700;
letter-spacing:
0.8px;
line-height:
37.3333px;
padding:
0px 24px;
text-align:
center;
text-transform:
uppercase;
}

.actions a{
    text-decoration: none;
}

.posts article img{
    width: 558px;
    height: 384px;
}

.posts article{
    padding: 30px;
}
article h3{
    color:
#3d4449;

font-size:
16.6667px;
font-weight:
700;
line-height:
25px;
margin:
0px 0px 16.6667px;
}
article p{
    width: 558px;
    color:#7f888f;
font-family:Open Sans;
font-size:13.3333px;
line-height:22px;
margin:0px 0px 26.6667px;
}

article li{
    list-style: none;
}
.event .content{
    display: flex;
    width: 928px;
    height: 171px;

    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.content span{
    color: #8A8561;
font-feature-settings: 'dlig' on;


font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}
.content p{
    color: #8A8561;
font-feature-settings: 'dlig' on;
padding-top: 5px;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}
.content h5{
    padding-top: 10px; 
}
.content section{
    width: 608px;
   
}


.event button{
    display: flex;
    width: 102.406px;
    height: 32px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background:rgba(242, 137, 13, 0.94);
    border: 0px;
    outline: 0px;
    margin-top: 10px;
}
.event a{
    color: white;
    text-decoration: none;
}


.content img{
    width: 304px;
height: 171px;
flex-shrink: 0;
border-radius: 12px;

}
footer {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
    gap: 1em;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

.image2{
    width: 304px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 12px;
    background-image: url("../Assets/IMG_54322\ 1.png");
   background-size: contain;
    background-repeat: no-repeat;
}
.image1{
    width: 304px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 12px;
    background-image: url("../Assets/IMG_1541.JPG");
   background-size: cover;
    background-repeat: no-repeat;
}
.About{
    display: flex;
    flex-direction:row-reverse ;
    background-color: white;
    width: 100%;
    padding: 73px;
    gap: 5rem;
    


}
.About h1{
   
    color:#444;
    font-family:Open Sans;
    font-size:33px;
    font-weight: 800;
    line-height: 33px;
    margin: 0px 0px 36.3px;


}
.About p{
    color:
    #696969;
    font-family:
    Open Sans;
    font-size:
    14.6667px;
    font-weight:
    300;
    line-height:
    33px;
    margin:
    0px 0px 29.3333px;

}
video{
    width: 400px;
height: 290px;

}
.BT3{
    background-color:yellow;
border-radius:6px;
color:#fff;
display:inline-block;
font-family:Open Sans;
font-size:19.8px;
font-weight:800;
line-height:33px;
padding:11.88px 29.7px;
border: none;
outline: none;
}

.BT3 a{ color: rgb(0, 0, 0);
    text-decoration: none;
}

.complete{
    display: flex;
   
    justify-content: center;
    gap: 5rem;
    background-color: white;
    width: 100%;
    padding: 30px 0px;
    
}

.proj {
 width: 600px;

}
.proj h1{
    color: #000;
text-align: center;
font-feature-settings: 'dlig' on;
font-family: "Noto Sans";
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 24px; /* 80% */
margin-bottom: 1rem;
}
.proj p{
    color:
    #696969;
    font-family:
    Open Sans;
    font-size:
    14.6667px;
    font-weight:
    300;
    line-height:
    33px;
    margin:
    0px 0px 29.3333px;
}

.widgets{
    background-image: url('../Assets/IMG_1530.JPG');
    background-size: cover;
    width: 300px;
    height: 300px;
   margin-top: 20px;
}


@media (max-width: 858px){

    
    .herobanner{
        
        width: 100%;
        
    }

    .herobanner section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    
    
    .herobanner section h1{
        font-size: 33px;
    }
    .heroTxt{
      
        width: 100%;
    }
   
    .HeroBT {
        display: flex ;
       gap: 3rem;
       flex-direction: row;
      
       width: 100%;
       justify-content: center;
      
      
      
    }
    .HeroBT .BT1{
       
       padding: 5px 10px;
     
        border-radius: 2px;

       
        border: none;
        font-family:Open Sans;
        font-size:14px;
        
       
    }

   .hero .herobanner section .BT2{
       
        
       border-radius: 2px;
       padding: 5px  10px; 
        border: none;
        font-family:Open Sans;
        font-size:16px; 
        text-align:center;
        
    }
    
    .herobanner section p{
        width: 752px;
       
        flex-shrink: 0;    
    color: #FFF;
    font-feature-settings: 'dlig' on;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    width: inherit;
    
    
    
    }




    .box {
        display: flex;
        flex-direction: column;

        padding: 2em;
        width: 100%;
    }
    
      
    
            .box.feature .inner {
                width: 100%;
            }
    
           
        
    
           
                .box.feature .image img {
                    border-radius:8px 8px 0px 0px;
                    width: 100%;
                    object-position: top;
                    object-fit: cover;
                }


    
                .About{
                   
                    flex-direction:column-reverse ;
                    align-items: center;
                    padding: 50px 10px;
                
                }
               
                
                video{
                    width: 100%;
               
                
                }
               
                
                
                .complete{
                    display: flex;
                   
            
                    flex-direction: column-reverse;
                }
                
                .proj {
                 width: 100%;
                 padding: 10px;
                
                }
        
            
                .event{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                   
                   
                }
                
                .major {
                    color:
                #3d4449;
                display:
                inline-block;
                font-family:Arial, Helvetica, sans-serif;
                font-size:
                30.3333px;
                font-weight:
                700;
                line-height:
                35px;
                padding-left:45px ;
                }
                
                .posts{
                    display: flex;
                    flex-wrap: wrap;
                
                  justify-content: center;
                  width: 100%;
                  padding: 0px;
                
                    
                }

              
               
                
                .posts article{
                    width: 100%;
                    padding: 30px;
                  
                }
                
               
                .posts article img{
                    width: 100%;
                    height: 384px;
                    object-fit: cover;
                }
                article p{
                    width: 100%;
                    color:#7f888f;
                font-family:Open Sans;
                font-size:13.3333px;
                line-height:22px;
                margin:0px 0px 26.6667px;
                }
    
                .actions{
                    display: block;
                }

                .actions .button{
                    display:inline-block;
                    background-color:
                #f56a6a00;
                border-radius:
                4px;
                box-shadow:
                #fbb35b 0px 0px 0px 2px;
                color:#fbb35b ;
               width: 100px;
                
                font-size:
                10.6667px;
                font-weight:
                700;
                letter-spacing:
                0.8px;
                line-height:
                37.3333px;
                padding:
                0px 0px;
                text-align:
                center;
                text-transform:
                uppercase;
                }
    
}


.footer{
    width: 100%;
    background-color: #333;
 
    padding: 10px;
}

.socilIcon img{
    
width: 40px;
height: 40px;
}








